#map {
  user-select: none;
}

.pin {
  z-index:1;
  width:0px;
  height:0px;
  background-color:red;
  text-align: center;
  white-space: nowrap;
  /* required css if coming from markup */
  position: absolute;
  transform: translate3d(-50%, -50%, 0px); 
}
.pin:hover ~ .pin {
  z-index:0;
}
.pin:hover::before {
  border: 4px solid transparent;
  box-shadow: none;
  color: white;
  visibility: visible;
}
.pin:hover::after {
  opacity:1;
  visibility: visible;
}

.pin::before {
  position: absolute;
  display: block;
  top:50%;
  left: 0;
  width: 16px;
  height: 16px;
  content: '+';
  line-height:0.6;
  color: transparent;
  font-size: 11px;
  z-index:10;
  transform: translateY(-50%);
  text-align: center;
  background-color: #4481FE;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.18);

  border: 4px solid white;
  transition: all 150ms linear;
}

.pin::after {
  display: inline-block;
  position: absolute;
  font-weight: 300;
  top:0;
  left:0;
  margin-left:-10px;
  padding: 10px 16px 10px 36px;
  vertical-align: middle;
  z-index:1;
  background-color: white;
  /*border: 1px solid #eeeeee;*/
  /*border: 1px solid red;*/
  font-size: 12px;
  line-height:1;
  content: attr(title);
  transform: translateY(-50%);
  box-shadow: 0 0 9px rgba(0,0,0,0.18);

  transition: all 150ms ease;

  opacity:0;
  visibility: hidden;

  /*opacity:0.5;*/
  /*visibility: visible;*/
}


